body{
	background-image: url(images/space.jpg);
	background-size: 100% 120%;
	background-position: relative;
	
}
.desktop {
    width:100%;
	height: 900px; 
	overflow: inherit;

}
.functionBar{

float: right;
	background-color: rgba(255, 255, 255, .25);
	width:45%;
    height: 37%;
    border: 10px solid rgba(255, 255, 255, .5);
border-radius: 25%;
font-size: 40px; 
color: rgb(232, 183, 179);

}
button {
border: none;
position: relative;
top: 20px;
left: 60px;
font-size: 40px;
border-radius: 15%;
background-color: rgba(255, 255, 255, .5);
color: rgb(232, 183, 179);
}
button:hover {
background-color: rgba(255, 255, 255, .75);
}
.bar {
	opacity: 0.5;
	position: fixed;
	background-color: grey ;
	width:100%;
    height: 100%;
    border: 1px solid grey;
margin: 0px;
}
ul{
	list-style-type: none;
}
.dicon { 
height: 350px;
width: 290px;
display: flex;
text-align: center;
align-content: flex-start;
	  
}
img{
border-radius: 20%;

}
*:hover{
cursor: url(images/ball.jpg), auto;  
	margin: 0px;
	padding: 0px;
}
.bar:hover{
opacity: .75;
}
.zoom {
	padding: 10px;
    transition: transform .2s; /* Animation */
	margin: 0px;
}
.zoom:hover {
    transform: scale(1.25);
	background-color: rgba(255, 255, 255, .25);
	padding: 0px;
	border: 1px solid rgba(255, 255, 255, .5);
	
}
*{
font-family:"Trebuchet MS", Helvetica, sans-serif;
}
